---
import Datetime from "./Datetime";

const { href, frontmatter, secHeading } = Astro.props
const { title, pubDatetime, description, firstname, lastname } = frontmatter;
---
<li class="my-6">
  <a
    href={href}
    class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {secHeading ? (
      <h2 class="text-lg font-medium decoration-dashed hover:underline">
        {title} {firstname} {lastname}
      </h2>
    ) : (
      <h3 class="text-lg font-medium decoration-dashed hover:underline">
        {title} {firstname} {lastname}
      </h3>
    )}
  </a>
  {pubDatetime && <Datetime datetime={pubDatetime} />}
  <p>{description}</p>
</li>
