---
import { Icon } from "astro-icon";

const { icon, type, collection, item } = Astro.props;
const { title, description, image } = item.data;
const { Content } = await item.render();
const cover =
  "https://ik.imagekit.io/2w5ub6jhu/IEA/" + collection + "/" + image;
console.log(item);
---

<div class="mx-auto mt-8 max-w-3xl space-y-4">
  <h1 class="mb-2 text-sm font-light capitalize">
    <Icon pack="carbon" name={icon} class="mb-1" />
    <a
      href={`/${item.collection}`}
      class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
    >
      {type}</a
    >
  </h1>
  <h2 class="mt-0 text-2xl font-bold uppercase">{title}</h2>
  <div>
    <img
      class="lg:h:64 float-left mb-2 mr-2 h-36 overflow-hidden object-cover md:mb-4 md:mr-4 md:h-48"
      src={cover}
      alt={title}
    />
    <p class="text-sm italic">{description}</p>
  </div>
  <article role="article" class="prose mx-auto max-w-3xl text-xs sm:text-sm">
    <Content />
  </article>
</div>
