---
import Card from "@components/Card.astro";
import LinkButton from "@components/LinkButton.astro";
import slugify from "@utils/slugify";
import { Icon } from "astro-icon";

const { pageNum, totalPages, items, icon, title, collection } = Astro.props;
const prev = pageNum > 1 ? "" : "disabled";
const next = pageNum < totalPages ? "" : "disabled";
---

<div>
  <h2 class="my-4 text-lg font-semibold uppercase sm:text-xl lg:text-2xl">
    <Icon pack="carbon" name={icon} class="mb-1" />
    <a
      href={`/${collection}`}
      class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
    >
      {title}</a
    >
  </h2>
  <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      items.map(
        ({ data }, index) =>
          index < 4 && (
            <Card
              href={`/${collection}/${slugify(data)}`}
              frontmatter={data}
              secHeading={false}
              collection={collection}
            />
          )
      )
    }
  </ul>
  {
    totalPages > 1 && (
      <nav class="pagination-wrapper" aria-label="Pagination">
        <LinkButton
          disabled={prev === "disabled"}
          href={`/${collection}/${
            pageNum - 1 !== 1 ? "/" + (pageNum - 1) : ""
          }`}
          className={`mr-4 select-none ${prev}`}
          ariaLabel="Previous"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class={`${prev}-svg`}>
            <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
          </svg>
        </LinkButton>
        <LinkButton
          disabled={next === "disabled"}
          href={`/${collection}/${pageNum + 1}`}
          className={`ml-4 select-none ${next}`}
          ariaLabel="Next"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class={`${next}-svg`}>
            <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
          </svg>
        </LinkButton>
      </nav>
    )
  }
</div>

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
