---
import { getCollection } from "astro:content";
import Card from "@components/Card.astro";
import slugify from "@utils/slugify";
import { Icon } from "astro-icon";

const { icon, title, collection, colmin, colmax, more } = Astro.props;
const papers = await getCollection(collection);
---

<section class="mt-12">
  <h2 class="mb-4 text-2xl font-semibold tracking-wide">
    <Icon pack="carbon" name={icon} class="mb-1" />
    <a
      href={`/${collection}`}
      class="hover:underline hover:decoration-dashed hover:decoration-2 hover:underline-offset-4"
    >
      {title}</a
    >
  </h2>

  <ul
    class={`grid grid-cols-1 sm:grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4`}
  >
    {
      papers.map(
        ({ data }, index) =>
          index < 4 && (
            <Card
              href={`/${collection}/${slugify(data)}`}
              frontmatter={data}
              secHeading={false}
              collection={collection}
            />
          )
      )
    }
  </ul>
</section>
